
<!doctype html>
<html lang="pt-br">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Perfil</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets\bootstrap\css\bootstrap.min.v4.3.1.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
    
  </head>

  <body class="bg-light">
    {%  include 'accounts/Main-Bootstrap-v5.0.html' %}
    
      <div class="container">
      <h1>Você atingiu o limite de indicações para este semestre!</h1>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small" >
        <p class="mb-1">FATEPI FAESPI</p>
        
      </footer>
    </div>

    
    
  </body>
</html>

